.V3JsonXmlFormatWrap {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 14px;

  .V3JsonXmlFormat {
    width: 100%;
    height: 100%;
    overflow: auto;
    outline: none;
    box-sizing: border-box;
    border: 1px solid var(--el-input-border-color, var(--el-border-color));
    padding: 5px 11px;
    border-radius: var(--el-input-border-radius, var(--el-border-radius-base));
    transition: var(--el-transition-border);
    --el-input-focus-border-color: var(--el-color-primary);
    cursor: default;

    &:focus {
      border-color: var(--el-input-focus-border-color);
    }

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 100px;
      background: var(--el-border-color);
    }

    &::-webkit-scrollbar-track {
      display: none;
    }

    &::-webkit-scrollbar-corner {
      background: none;
    }
  }

  .V3JsonXmlFormatButton {
    position: absolute;
    right: 0;
    top: 0;
  }
}

