.V3JsonXmlFormatWrap {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 14px;
}

.V3JsonXmlFormat {
  width: 100%;
  height: 100%;
  overflow: auto;
  outline: none;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px var(--el-input-border-color, var(--el-border-color)) inset;
  padding: 5px 11px;
  border-radius: var(--el-input-border-radius, var(--el-border-radius-base));
  transition: var(--el-transition-box-shadow);
  --el-input-focus-border-color: var(--el-color-primary);

  &:focus {
    box-shadow: 0 0 0 1px var(--el-input-focus-border-color) inset;
  }
}

.V3JsonXmlFormatButton {
  position: absolute;
  right: 0;
  top: 0;
}

