.V3PaginationSelectSearchWrap {
  display: flex;
  align-items: center;
  padding: 0 6px 6px;

  .V3PaginationSelectSearchButton {
    cursor: pointer;
    user-select: none;
  }
}

.V3PaginationSelectPaginationWrap {
  padding: 6px 6px 0;
}

.V3PaginationSelectPopperWrap .el-scrollbar.is-empty .el-select-dropdown__list {
  padding-top: 6px;
}
