.V3PaginationSelectSearchWrap {
  display: flex;
  align-items: center;
  padding: 0 6px 6px;
  min-width: 588px;

  &.isEmpty {
    padding-bottom: 0;
  }

  .V3PaginationSelectSearchButton {
    cursor: pointer;
    user-select: none;
  }
}

.V3PaginationSelectOptionsWrap {
  height: 340px;
  overflow: auto;
}

.V3PaginationSelectPaginationWrap {
  padding: 6px 6px 0;
}
